body {
	background: linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.3)), url(../image/Background.jpg);
	-webkit-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
	font-family: sans-serif;
}
.form {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background: rgba(0,0,0,.7);
    width: 500px;
}
.form h1 {
	margin: 30px 100px;
	padding: 0;
	text-align: center;
	color: #fff;
	font-size: 30px;
}


  
  .dropdown-content {
    display: none;
    position: absolute;
    padding-right: 40px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: #bbbbbb;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

.list__menu a, .dropbtn1{
    align-items:center;
    color: white;
    text-decoration: none;
    display: block;
    border: none;
  background: none;
  width:100%;
  text-align: left;
  cursor: pointer;
  outline: none;
  font-size: 17px;
}

.change{
    
}
.list__menu a:hover{
    color: #d49e20;
    transition: 0.3s;
}
.list__menu li{
    text-decoration: none;
    list-style-type: none;
    padding-left: 40px;
}
.list__menu li+li{
    margin-top:20px;
}
.list__nav{
    padding-top: 20px;
    padding-bottom: 20px;
}







